@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Open+Sans:wght@300&display=swap');




:root {
  --clr-primary: #51459E;
  --clr-orange: #F9896B;
  --clr-blue: #0377FB;
  --clr-yellow: #FFCC40;
  --clr-lightOrange: #fac898;
  --clr-green: #50DFB2;
  --clr-lightgreyBackground: #F9F8FA;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;

}